<a href="https://colab.research.google.com/github/NayloEze/Introduction-to-Python/blob/main/Chinelo_Ezeani__variables__data_types_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. What is a variable?

2. Give 5 examples of variables with corresponding values.

country = Nigeria 
name = Chinelo
complexion = Fair
weight_lb = 150 
eye_color = Brown 

3. State the data type for each of the following variables:
- b = False
Boolean
- number = "1000"
String
- radius = 7.0
Float
- diameter = 14
Integer
- country = 'Nigeria'
String

4. Fix this string
quote = "You're right, he won\'t agree to this deal."

5. What happens when you call a string method like islower() on a float object? For example, 15.55.islower()


6. Write two lines of code each assigning a value to a variable. Now write a print statement using .format() to print out a sentence containing the values of both of the variables.


7. You’ve been provided below with example data for a user, the time of their visit and the site they accessed. You should use the variables provided and the techniques you’ve learned to print a log message like this one  "Amina accessed the site http://kadatemy.com/courses/pythonfordatascience/class1 at 09:20." (with the username, url, and timestamp replaced with values from the appropriate variables).

Number 1

A variable is storage that houses values. It can also be described as a name given to a value.

Number 2

Give 5 examples of variables with corresponding values.

country = Nigeria,
 name = Chinelo,
 complexion = Fair, 
 weight_lb = 150, 
 eye_color = Brown

Number 3

State the data type for each of the following variables:
b = False  - Boolean
number = "1000"   - String
radius = 7.0  - Float
diameter = 14 -  Integer
country = 'Nigeria' -  String

Number 4

In [2]:
quote = "You're right, he won't agree to this deal."
print(quote)

You're right, he won't agree to this deal.

In [27]:
quote = "You\'re right, he won\'t agree to this deal."
print(quote)

You're right, he won't agree to this deal.

Number 5

In [24]:
p = 15.55 #method is used on string characters so it does not apply to float objects. If 15.55 was a string, output will be FALSE
p.islower()

AttributeError: ignored

Number 6

In [32]:
personal_details = "My name is {fname}"
hobbies = "I love {kdrama}"
print(personal_details.format(fname = "Chinelo"))
print(hobbies.format(kdrama = "The Veil"))

My name is Chinelo
I love The Veil

Number 7

In [6]:
username = "Faith"
timestamp = "07:50"
url = "http://kadatemy.com/courses/pythonfordatascience/class1"

log_message = username +" accessed the site " + url + " at " + timestamp 
print(log_message)

Faith accessed the site http://kadatemy.com/courses/pythonfordatascience/class1 at 07:50

8. Consider this string
str1 = "Python exercises are fun. It is very satisfying to solve problems using this computer language."
- a- Print the length of the string
- b- Show the first and last characters of the string.
- c- print the characters "exercises" from the string using the right index, do the same for "language".
- d- By using first, second and last characters of the string, create a new string
- e- Which character occurs more often in the string? "e" or "s" ? Print both counts inside the print function.

9. Consider this string 
str2 = "  I'm enjoying this a lot! I could do with more exercises.   "
- a- Return the string without any whitespace at the beginning or the end.
- b- what is the result of using the method isnumeric() on this string
- c- usind a method, return the last position of where "i" is found

10. Return the output of concatenating the strings provided in in question 8 and 9.

11. Use an appropriate method that returns True if all characters in this string are digits.
x = "3490003"

Number 8

In [1]:
str1 = "Python exercises are fun. It is very satisfying to solve problems using this computer language."
print(len(str1)) #a
print(str1[0]) #b(1)
print(str1[-1])#b(2)
print(str1[7:16]) #c(1)
print(str1[86:94]) #c(2)
new_str = str1[0] + str1[1] + str1[-1]
print(new_str)

95
P
.
exercises
language
Py.

In [20]:
str1 = "Python exercises are fun. It is very satisfying to solve problems using this computer language."
str1.count("e") #e(1)

9

In [21]:
str1 = "Python exercises are fun. It is very satisfying to solve problems using this computer language."
str1.count("s") #e(2)

9

Number 9

In [5]:
str2 =  "I'm enjoying this a lot! I could do with more exercises. "
str2.strip() #9a

"I'm enjoying this a lot! I could do with more exercises."

In [6]:
str2 =  "I'm enjoying this a lot! I could do with more exercises. "
str2.isnumeric() #9b

False

In [8]:
str2 =  "I'm enjoying this a lot! I could do with more exercises. "
str2.rfind("i") #9c

51

In [10]:
str1 = "Python exercises are fun. It is very satisfying to solve problems using this computer language."
str2 = "I'm enjoying this a lot! I could do with more exercises. "

kadatemy = str1 + str2 #10
print(kadatemy)

Python exercises are fun. It is very satisfying to solve problems using this computer language.I'm enjoying this a lot! I could do with more exercises.

In [11]:
x = "3490003"
x.isdigit() #11

True